<div class="cards-container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
      <mat-card-title>{{ character.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="imageUrl" alt="{{ character.name }}" (error)="imagemFallback($event)" />
    <mat-card-content>
      <h2>{{ character.name }}</h2>
      <p>Casa: {{ character.house }}</p>
      <p>Data de nascimento: {{ character.dateOfBirth }}</p>
      <p>Espécie: {{ character.species }}</p>
    </mat-card-content>
  </mat-card>
</div>