.character-card {
  width: 300px; /* Aumentado de 250px para 300px */
  background-color: #222;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }
}

/* Ajustar para manter 3 cards por linha */
@media (min-width: 900px) {
  .character-card {
    flex: 1 1 calc(33.333% - 20px); /* Garante 3 por linha */
    max-width: 350px; /* Limite máximo */
  }
}

@media (max-width: 768px) {
  .character-card {
    flex: 1 1 calc(50% - 20px); /* 2 por linha */
  }
}

@media (max-width: 480px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .character-card {
    width: 90%;
    max-width: 320px; /* Ajustado para telas menores */
  }
}
